/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

 html[data-theme="light"] #talks {
  margin-top: 3rem;          /* distance from previous section */
  margin-bottom: 1.5rem;     /* distance to the list below */
  padding-bottom: 0.25rem;   /* space between text and line */
}

html[data-theme="dark"] #talks {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.25rem;
}
// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
